@import url(https://fonts.googleapis.com/css?family=Playfair+Display:400,500,600,700,800,900,400i,500i,600i,700i,800i,900i&display=swap);
@import url(https://fonts.googleapis.com/css?family=Libre+Franklin:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap);





body {
  font-family: Rubik;
}
.display-1 {
  font-family: 'Playfair Display', serif;
  font-size: 4.25rem;
  font-display: swap;
}
.display-1 > .mbr-iconfont {
  font-size: 6.8rem;
}
.display-2 {
  font-family: 'Playfair Display', serif;
  font-size: 3rem;
  font-display: swap;
}
.display-2 > .mbr-iconfont {
  font-size: 4.8rem;
}
.display-4 {
  font-family: 'Libre Franklin', sans-serif;
  font-size: 1rem;
  font-display: swap;
}
.display-4 > .mbr-iconfont {
  font-size: 1.6rem;
}
.display-5 {
  font-family: 'Playfair Display', serif;
  font-size: 1.5rem;
  font-display: swap;
}
.display-5 > .mbr-iconfont {
  font-size: 2.4rem;
}
.display-7 {
  font-family: 'Libre Franklin', sans-serif;
  font-size: 1rem;
  font-display: swap;
}
.display-7 > .mbr-iconfont {
  font-size: 1.6rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 768px) {
  .display-1 {
    font-size: 3.4rem;
    font-size: calc( 2.1374999999999997rem + (4.25 - 2.1374999999999997) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (2.1374999999999997rem + (4.25 - 2.1374999999999997) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.4rem;
    font-size: calc( 1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.8rem;
    font-size: calc( 1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.2rem;
    font-size: calc( 1.175rem + (1.5 - 1.175) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.175rem + (1.5 - 1.175) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 1rem 3rem;
  border-radius: 3px;
}
.btn-sm {
  padding: 0.6rem 1.5rem;
  border-radius: 3px;
}
.btn-md {
  padding: 1rem 3rem;
  border-radius: 3px;
}
.btn-lg {
  padding: 1.2rem 3.2rem;
  border-radius: 3px;
}
.bg-primary {
  background-color: #0f4b9c !important;
}
.bg-success {
  background-color: #f7ed4a !important;
}
.bg-info {
  background-color: #82786e !important;
}
.bg-warning {
  background-color: #879a9f !important;
}
.bg-danger {
  background-color: #b1a374 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #0f4b9c !important;
  border-color: #0f4b9c !important;
  color: #ffffff !important;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #082956 !important;
  border-color: #082956 !important;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #082956 !important;
  border-color: #082956 !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #e8431e !important;
  border-color: #e8431e !important;
  color: #ffffff !important;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #a82d11 !important;
  border-color: #a82d11 !important;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #a82d11 !important;
  border-color: #a82d11 !important;
}
.btn-info,
.btn-info:active {
  background-color: #82786e !important;
  border-color: #82786e !important;
  color: #ffffff !important;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #59524b !important;
  border-color: #59524b !important;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #59524b !important;
  border-color: #59524b !important;
}
.btn-success,
.btn-success:active {
  background-color: #f7ed4a !important;
  border-color: #f7ed4a !important;
  color: #3f3c03 !important;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #3f3c03 !important;
  background-color: #eadd0a !important;
  border-color: #eadd0a !important;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #3f3c03 !important;
  background-color: #eadd0a !important;
  border-color: #eadd0a !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #879a9f !important;
  border-color: #879a9f !important;
  color: #ffffff !important;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #ffffff !important;
  background-color: #617479 !important;
  border-color: #617479 !important;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #617479 !important;
  border-color: #617479 !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #b1a374 !important;
  border-color: #b1a374 !important;
  color: #ffffff !important;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #8b7d4e !important;
  border-color: #8b7d4e !important;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #8b7d4e !important;
  border-color: #8b7d4e !important;
}
.btn-white {
  color: #333333 !important;
}
.btn-white,
.btn-white:active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #808080 !important;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-black,
.btn-black:active {
  background-color: #333333 !important;
  border-color: #333333 !important;
  color: #ffffff !important;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background: none;
  border-color: #061e3f;
  color: #061e3f;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #ffffff;
  background-color: #0f4b9c;
  border-color: #0f4b9c;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #0f4b9c !important;
  border-color: #0f4b9c !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background: none;
  border-color: #91270f;
  color: #91270f;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #ffffff;
  background-color: #e8431e;
  border-color: #e8431e;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #e8431e !important;
  border-color: #e8431e !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background: none;
  border-color: #4b453f;
  color: #4b453f;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #ffffff;
  background-color: #82786e;
  border-color: #82786e;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #82786e !important;
  border-color: #82786e !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background: none;
  border-color: #d2c609;
  color: #d2c609;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #3f3c03;
  background-color: #f7ed4a;
  border-color: #f7ed4a;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #3f3c03 !important;
  background-color: #f7ed4a !important;
  border-color: #f7ed4a !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background: none;
  border-color: #55666b;
  color: #55666b;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #ffffff;
  background-color: #879a9f;
  border-color: #879a9f;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #879a9f !important;
  border-color: #879a9f !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background: none;
  border-color: #7a6e45;
  color: #7a6e45;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #ffffff;
  background-color: #b1a374;
  border-color: #b1a374;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #b1a374 !important;
  border-color: #b1a374 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #ffffff;
  background-color: #333333;
  border-color: #333333;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #333333 !important;
  border-color: #333333 !important;
}
.btn-white-outline,
.btn-white-outline:active,
.btn-white-outline.active {
  background: none;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus {
  color: #333333;
  background-color: #ffffff;
  border-color: #ffffff;
}
.text-primary {
  color: #0f4b9c !important;
}
.text-secondary {
  color: #e8431e !important;
}
.text-success {
  color: #f7ed4a !important;
}
.text-info {
  color: #82786e !important;
}
.text-warning {
  color: #879a9f !important;
}
.text-danger {
  color: #b1a374 !important;
}
.text-white {
  color: #ffffff !important;
}
.text-black {
  color: #000000 !important;
}
a.text-primary:hover,
a.text-primary:focus {
  color: #061e3f !important;
}
a.text-secondary:hover,
a.text-secondary:focus {
  color: #91270f !important;
}
a.text-success:hover,
a.text-success:focus {
  color: #d2c609 !important;
}
a.text-info:hover,
a.text-info:focus {
  color: #4b453f !important;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #55666b !important;
}
a.text-danger:hover,
a.text-danger:focus {
  color: #7a6e45 !important;
}
a.text-white:hover,
a.text-white:focus {
  color: #b3b3b3 !important;
}
a.text-black:hover,
a.text-black:focus {
  color: #4d4d4d !important;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #82786e;
}
.alert-warning {
  background-color: #879a9f;
}
.alert-danger {
  background-color: #b1a374;
}
.mbr-section-btn a.btn:not(.btn-form) {
  border-radius: 100px;
}
.mbr-section-btn a.btn:not(.btn-form):hover,
.mbr-section-btn a.btn:not(.btn-form):focus {
  box-shadow: none !important;
}
.mbr-section-btn a.btn:not(.btn-form):hover,
.mbr-section-btn a.btn:not(.btn-form):focus {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2) !important;
  -webkit-box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2) !important;
}
.mbr-gallery-filter li a {
  border-radius: 100px !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #0f4b9c;
  border-color: #0f4b9c;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
.nav-tabs .nav-link {
  border-radius: 100px !important;
}
a,
a:hover {
  color: #0f4b9c;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #3e88ec;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #beb8b2;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ced6d8;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #dfd9c6;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Libre Franklin', sans-serif;
  font-size: 1rem;
  font-display: swap;
}
.form-control > .mbr-iconfont {
  font-size: 1.6rem;
}
blockquote {
  border-color: #0f4b9c;
}
/* Forms */
.mbr-form .btn {
  margin: .4rem 0;
}
.mbr-form .input-group-btn a.btn {
  border-radius: 100px !important;
}
.mbr-form .input-group-btn a.btn:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.mbr-form .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
  padding: 1rem 3rem;
}
.mbr-form .input-group-btn button[type="submit"]:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.form2 .form-control {
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
}
.form2 .input-group-btn a.btn {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}
.form2 .input-group-btn button[type="submit"] {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}
.form3 input[type="email"] {
  border-radius: 100px !important;
}
@media (max-width: 349px) {
  .form2 input[type="email"] {
    border-radius: 100px !important;
  }
  .form2 .input-group-btn a.btn {
    border-radius: 100px !important;
  }
  .form2 .input-group-btn button[type="submit"] {
    border-radius: 100px !important;
  }
}
@media (max-width: 767px) {
  .btn {
    font-size: .75rem !important;
  }
  .btn .mbr-iconfont {
    font-size: 1rem !important;
  }
}
/* Footer */
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #0f4b9c;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #0f4b9c;
}
.footer3 input[type="email"],
.footer4 input[type="email"] {
  border-radius: 100px !important;
}
.footer3 .input-group-btn a.btn,
.footer4 .input-group-btn a.btn {
  border-radius: 100px !important;
}
.footer3 .input-group-btn button[type="submit"],
.footer4 .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
}
/* Headers*/
.header13 .form-inline input[type="email"],
.header14 .form-inline input[type="email"] {
  border-radius: 100px;
}
.header13 .form-inline input[type="text"],
.header14 .form-inline input[type="text"] {
  border-radius: 100px;
}
.header13 .form-inline input[type="tel"],
.header14 .form-inline input[type="tel"] {
  border-radius: 100px;
}
.header13 .form-inline a.btn,
.header14 .form-inline a.btn {
  border-radius: 100px;
}
.header13 .form-inline button,
.header14 .form-inline button {
  border-radius: 100px !important;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .card-wrapper {
    flex: auto !important;
  }
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #0f4b9c;
  color: #ffffff;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: currentColor;
  border-bottom-color: currentColor;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #0f4b9c;
  border-bottom-color: #0f4b9c;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #ffffff !important;
  background-color: #0f4b9c !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #ffffff !important;
  background: #e8431e !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 100px;
  height: 100px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%230f4b9c' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.3;
}
.cid-rXeIhQznSa .navbar {
  padding: .5rem 0;
  background: #ffffff;
  transition: none;
  min-height: 50px;
}
.cid-rXeIhQznSa .navbar-dropdown.bg-color.transparent.opened {
  background: #ffffff;
}
.cid-rXeIhQznSa a {
  font-style: normal;
}
.cid-rXeIhQznSa .nav-item span {
  padding-right: 0.4em;
  line-height: 0.5em;
  vertical-align: text-bottom;
  position: relative;
  top: -0.2em;
  text-decoration: none;
}
.cid-rXeIhQznSa .nav-item a {
  padding: 0.7rem 0 !important;
  margin: 0 .65rem !important;
}
.cid-rXeIhQznSa .dropdown-item:before {
  font-family: MobiriseIcons !important;
  content: '\e966';
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.cid-rXeIhQznSa .content-text {
  margin-bottom: 0;
}
.cid-rXeIhQznSa .navbar-nav {
  position: relative;
  min-height: 49px;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
}
@media (min-width: 992px) {
  .cid-rXeIhQznSa .navbar-nav .main-menu-animated-line {
    position: absolute;
    left: 0;
    width: 0;
    height: 0;
    z-index: 100;
    border-top: 4px solid #0f4b9c;
    -webkit-transition: width 0.4s, left 0.6s cubic-bezier(0.19, 0.65, 0.02, 0.93);
    -moz-transition: width 0.4s, left 0.6s cubic-bezier(0.19, 0.65, 0.02, 0.93);
    transition: width 0.4s, left 0.6s cubic-bezier(0.19, 0.65, 0.02, 0.93);
  }
  .cid-rXeIhQznSa .navbar-nav .main-menu-animated-line.bottom {
    bottom: 0;
  }
}
.cid-rXeIhQznSa .navbar-nav .nav-item span {
  padding-right: 0;
}
.cid-rXeIhQznSa .navbar-nav .nav-item a {
  margin: 0 1.3rem !important;
}
.cid-rXeIhQznSa .display-4 > .mbr-iconfont {
  font-size: 1.43em;
}
.cid-rXeIhQznSa .display-4 > .btn > .mbr-iconfont {
  font-size: 1.43em;
}
.cid-rXeIhQznSa .nav-dropdown .dropdown-item {
  font-weight: 400;
}
.cid-rXeIhQznSa .navbar-buttons.mbr-section-btn {
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.cid-rXeIhQznSa .nav-dropdown .link {
  font-weight: 400;
}
.cid-rXeIhQznSa .menu .navbar-brand .logo-text-part {
  vertical-align: top;
}
.cid-rXeIhQznSa .content-right-side {
  text-align: center;
}
.cid-rXeIhQznSa .menu-content-top {
  padding: 0 2rem;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  overflow: hidden;
  transition: min-height 0.25s ease-in-out;
}
@media (max-width: 991px) {
  .cid-rXeIhQznSa .menu-content-top {
    width: 100%;
    display: flex;
  }
  .cid-rXeIhQznSa .menu-content-top .menu-content-right {
    display: block;
    position: absolute;
    visibility: hidden;
    width: 100%;
    bottom: 0;
    left: 0;
    text-align: center;
    transition: 0s all 0s;
  }
  .cid-rXeIhQznSa .menu-content-top .menu-content-right .info-widget {
    padding: 1rem 0;
    text-align: center;
  }
  .cid-rXeIhQznSa .navbar.opened .menu-content-right {
    visibility: visible;
    transition: 0s all 0.3s;
  }
  .cid-rXeIhQznSa .menu-bottom {
    justify-content: flex-end;
  }
  .cid-rXeIhQznSa img {
    height: 3.8rem !important;
  }
  .cid-rXeIhQznSa .btn {
    display: -webkit-flex;
  }
  .cid-rXeIhQznSa button.navbar-toggler {
    display: block;
  }
  .cid-rXeIhQznSa .navbar-brand {
    margin-left: 1rem !important;
    margin-top: .5rem;
  }
  .cid-rXeIhQznSa .navbar {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
  .cid-rXeIhQznSa .navbar-collapse {
    display: none !important;
    padding-right: 0 !important;
  }
  .cid-rXeIhQznSa .navbar-collapse.collapsing,
  .cid-rXeIhQznSa .navbar-collapse.show {
    display: block !important;
  }
  .cid-rXeIhQznSa .navbar-collapse.collapsing .navbar-nav,
  .cid-rXeIhQznSa .navbar-collapse.show .navbar-nav {
    display: block;
    text-align: center;
  }
  .cid-rXeIhQznSa .navbar-collapse.collapsing .navbar-nav .nav-item,
  .cid-rXeIhQznSa .navbar-collapse.show .navbar-nav .nav-item {
    clear: both;
  }
  .cid-rXeIhQznSa .navbar-collapse.collapsing .navbar-buttons,
  .cid-rXeIhQznSa .navbar-collapse.show .navbar-buttons {
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    text-align: center;
  }
  .cid-rXeIhQznSa .navbar-collapse.collapsing .navbar-buttons:last-child,
  .cid-rXeIhQznSa .navbar-collapse.show .navbar-buttons:last-child {
    margin-bottom: 1rem;
  }
  .cid-rXeIhQznSa .dropdown .dropdown-menu {
    width: 100%;
    text-align: center;
    position: relative;
    opacity: 0;
    display: block;
    height: 0;
    visibility: hidden;
    padding: 0;
    transition-duration: .5s;
    transition-property: opacity,padding,height;
  }
  .cid-rXeIhQznSa .dropdown.open > .dropdown-menu {
    position: relative;
    opacity: 1;
    height: auto;
    padding: 1.4rem 0;
    visibility: visible;
  }
  .cid-rXeIhQznSa .dropdown .dropdown-submenu {
    left: 0;
    text-align: center;
    width: 100%;
  }
  .cid-rXeIhQznSa .dropdown .dropdown-toggle[data-toggle="dropdown-submenu"]::after {
    margin-top: 0;
    position: inherit;
    right: 0;
    top: 50%;
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .3em;
    vertical-align: middle;
    content: "";
    border-top: .30em solid;
    border-right: .30em solid transparent;
    border-left: .30em solid transparent;
  }
  .cid-rXeIhQznSa .navbar-buttons.mbr-section-btn {
    width: 100%;
  }
  .cid-rXeIhQznSa .dropdown .dropdown-menu .dropdown-item {
    padding: 0.235em 1.5em 0.235em 1.5em !important;
    transition: none;
    margin: 0 !important;
  }
}
@media (max-width: 991px) {
  .cid-rXeIhQznSa .navbar.opened {
    padding-bottom: 4rem;
  }
  .cid-rXeIhQznSa .navbar .navbar-collapse {
    max-height: calc(100vh - 4rem - 80px);
  }
}
@media (max-width: 575px) {
  .cid-rXeIhQznSa .navbar.opened {
    padding-bottom: 5rem;
  }
  .cid-rXeIhQznSa .navbar .navbar-collapse {
    max-height: calc(100vh - 5rem - 80px);
  }
}
.cid-rXeIhQznSa .content-right-side .content-link {
  margin-left: 2rem;
}
.cid-rXeIhQznSa .content-right-side .content-link span {
  vertical-align: middle;
  padding-right: 1rem;
}
.cid-rXeIhQznSa .widget-icon {
  display: inline-block;
  padding-right: 1rem;
  font-size: 1.65rem;
}
.cid-rXeIhQznSa .info-widget {
  padding-left: 2rem;
  padding-top: 0.5rem;
  padding-right: 3rem;
  border-left: 1px solid rgba(0, 0, 0, 0.12);
}
.cid-rXeIhQznSa .menu-content-right {
  display: flex;
  -webkit-align-items: center;
  align-items: center;
}
.cid-rXeIhQznSa .menu-content-right .info-widget:last-child {
  padding-right: 0;
}
.cid-rXeIhQznSa .menu-content-right .info-widget:first-child {
  padding-left: 0;
  border-left: none;
}
.cid-rXeIhQznSa .widget-content {
  display: inline-block;
  vertical-align: top;
  text-align: left;
}
.cid-rXeIhQznSa .widget-content .widget-title {
  font-weight: 600;
  margin-bottom: 7px;
}
.cid-rXeIhQznSa .widget-content .widget-text {
  margin-bottom: 0;
}
.cid-rXeIhQznSa .menu-bottom {
  display: flex;
  width: 100%;
  padding: 0 2rem;
  position: relative;
  -webkit-justify-content: center;
  justify-content: center;
}
@media (min-width: 992px) {
  .cid-rXeIhQznSa .navbar .menu-content-top {
    display: -webkit-flex;
    min-height: 83px;
    height: 100%;
  }
  .cid-rXeIhQznSa .content-right-side {
    display: flex;
    text-align: right;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-align-items: center;
    align-items: center;
  }
  .cid-rXeIhQznSa .menu-content-top {
    border-bottom: 1px solid #e0e0e0;
  }
  .cid-rXeIhQznSa .navbar {
    display: block;
    padding: 0;
  }
  .cid-rXeIhQznSa .navbar .menu-logo {
    margin-right: auto;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
  }
  .cid-rXeIhQznSa .navbar.navbar-toggleable-sm .navbar-collapse .navbar-nav .nav-item {
    -webkit-align-self: initial;
    align-self: auto;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    z-index: 101;
    min-height: 49px;
  }
  .cid-rXeIhQznSa .dropdown-item:hover:before {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    width: 16px;
  }
  .cid-rXeIhQznSa .navbar-short .menu-content-top {
    height: 0;
    min-height: 0;
    border: none;
  }
  .cid-rXeIhQznSa .navbar-toggler {
    display: none;
  }
  .cid-rXeIhQznSa .navbar-collapse {
    -webkit-justify-content: center;
    justify-content: center;
  }
}
.cid-rXeIhQznSa .btn {
  padding: 0.4rem 1.5rem;
  display: inline-flex;
  -webkit-align-items: center;
  align-items: center;
}
.cid-rXeIhQznSa .btn .mbr-iconfont {
  font-size: 1.2em;
}
.cid-rXeIhQznSa .menu-logo {
  margin-right: auto;
}
.cid-rXeIhQznSa .menu-logo .navbar-brand {
  display: flex;
  margin-left: 1.5rem;
  padding: 0.5rem 0;
  transition: padding .2s;
  min-height: 3.8rem;
  -webkit-align-items: center;
  align-items: center;
}
.cid-rXeIhQznSa .menu-logo .navbar-brand .navbar-caption-wrap {
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  word-break: break-word;
  min-width: 7rem;
  margin: .3rem 0;
}
.cid-rXeIhQznSa .menu-logo .navbar-brand .navbar-caption-wrap .navbar-caption {
  line-height: 1.2rem !important;
  padding-right: 2rem;
}
.cid-rXeIhQznSa .menu-logo .navbar-brand .navbar-logo {
  font-size: 4rem;
  transition: font-size 0.25s;
}
.cid-rXeIhQznSa .menu-logo .navbar-brand .navbar-logo img {
  display: flex;
}
.cid-rXeIhQznSa .menu-logo .navbar-brand .navbar-logo .mbr-iconfont {
  transition: font-size 0.25s;
}
.cid-rXeIhQznSa .navbar-toggleable-sm .navbar-collapse {
  width: auto;
}
.cid-rXeIhQznSa .navbar-toggleable-sm .navbar-collapse .navbar-nav {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-left: 0;
}
.cid-rXeIhQznSa .navbar-toggleable-sm .navbar-collapse .navbar-nav .nav-item {
  -webkit-align-self: center;
  align-self: center;
}
.cid-rXeIhQznSa .navbar-toggleable-sm .navbar-collapse .navbar-buttons {
  padding-left: 0;
  padding-bottom: 0;
}
.cid-rXeIhQznSa .dropdown .dropdown-menu {
  background: #ffffff;
  display: none;
  position: absolute;
  min-width: 5rem;
  padding-top: 1.4rem;
  padding-bottom: 1.4rem;
  text-align: left;
}
@media (max-width: 991px) {
  .cid-rXeIhQznSa .dropdown .dropdown-menu {
    overflow: hidden;
  }
}
.cid-rXeIhQznSa .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  padding: 0.235em 2.5385em 0.235em 3.5385em !important;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.cid-rXeIhQznSa .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-rXeIhQznSa .dropdown .dropdown-menu .dropdown-item:hover .mbr-iconfont:before {
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
}
.cid-rXeIhQznSa .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-left: -1.8rem;
  padding-right: 1rem;
  font-size: inherit;
}
.cid-rXeIhQznSa .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.cid-rXeIhQznSa .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
}
.cid-rXeIhQznSa .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-rXeIhQznSa .navbar-toggleable-sm.opened:after {
  position: absolute;
  width: 100vw;
  height: 100vh;
  content: '';
  background-color: rgba(0, 0, 0, 0.1);
  left: 0;
  bottom: 0;
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
  z-index: 1000;
}
.cid-rXeIhQznSa .navbar.navbar-short {
  min-height: 50px;
  transition: all .2s;
}
.cid-rXeIhQznSa .navbar.navbar-short .navbar-logo a {
  font-size: 2.5rem !important;
  line-height: 2.5rem;
  transition: font-size 0.25s;
}
.cid-rXeIhQznSa .navbar.navbar-short .navbar-logo a .mbr-iconfont {
  font-size: 2.5rem !important;
}
.cid-rXeIhQznSa .navbar.navbar-short .navbar-logo a img {
  height: 3rem !important;
}
.cid-rXeIhQznSa .navbar.navbar-short .navbar-brand {
  min-height: 3rem;
}
.cid-rXeIhQznSa button.navbar-toggler {
  width: 31px;
  height: 18px;
  cursor: pointer;
  transition: all .2s;
  margin: 1rem .8rem;
  -webkit-align-self: center;
  align-self: center;
}
.cid-rXeIhQznSa button.navbar-toggler:focus {
  outline: none;
}
.cid-rXeIhQznSa button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #333333;
}
.cid-rXeIhQznSa button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all .2s;
}
.cid-rXeIhQznSa button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all .15s;
}
.cid-rXeIhQznSa button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all .15s;
}
.cid-rXeIhQznSa button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all .2s;
}
.cid-rXeIhQznSa nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-rXeIhQznSa nav.opened .hamburger span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: all .25s;
}
.cid-rXeIhQznSa nav.opened .hamburger span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition: all .25s;
}
.cid-rXeIhQznSa nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-rXeIhQznSa .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-rXeIhQznSa .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-rXeIhQznSa .collapsed .btn {
  display: -webkit-flex;
}
.cid-rXeIhQznSa .collapsed .navbar-collapse {
  display: none !important;
  padding-right: 0 !important;
}
.cid-rXeIhQznSa .collapsed .navbar-collapse.collapsing,
.cid-rXeIhQznSa .collapsed .navbar-collapse.show {
  display: block !important;
}
.cid-rXeIhQznSa .collapsed .navbar-collapse.collapsing .navbar-nav,
.cid-rXeIhQznSa .collapsed .navbar-collapse.show .navbar-nav {
  display: block;
  text-align: center;
}
.cid-rXeIhQznSa .collapsed .navbar-collapse.collapsing .navbar-nav .nav-item,
.cid-rXeIhQznSa .collapsed .navbar-collapse.show .navbar-nav .nav-item {
  clear: both;
}
.cid-rXeIhQznSa .collapsed .navbar-collapse.collapsing .navbar-buttons,
.cid-rXeIhQznSa .collapsed .navbar-collapse.show .navbar-buttons {
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  text-align: center;
}
.cid-rXeIhQznSa .collapsed .navbar-collapse.collapsing .navbar-buttons:last-child,
.cid-rXeIhQznSa .collapsed .navbar-collapse.show .navbar-buttons:last-child {
  margin-bottom: 1rem;
}
@media (min-width: 992px) {
  .cid-rXeIhQznSa .collapsed:not(.navbar-short) .navbar-collapse {
    max-height: calc(100vh - 5.1rem - 1.5rem);
  }
  .cid-rXeIhQznSa .collapsed .dropdown .dropdown-menu {
    overflow: hidden;
  }
}
.cid-rXeIhQznSa .collapsed button.navbar-toggler {
  display: block;
}
.cid-rXeIhQznSa .collapsed .navbar-brand {
  margin-left: 1rem !important;
  margin-top: .5rem;
}
.cid-rXeIhQznSa .collapsed .navbar-toggleable-sm {
  -webkit-flex-direction: column;
  flex-direction: column;
}
.cid-rXeIhQznSa .collapsed .dropdown .dropdown-menu {
  width: 100%;
  text-align: center;
  position: relative;
  opacity: 0;
  display: block;
  height: 0;
  visibility: hidden;
  padding: 0;
  transition-duration: .5s;
  transition-property: opacity,padding,height;
}
.cid-rXeIhQznSa .collapsed .dropdown.open > .dropdown-menu {
  position: relative;
  opacity: 1;
  height: auto;
  padding: 1.4rem 0;
  visibility: visible;
}
.cid-rXeIhQznSa .collapsed .dropdown .dropdown-submenu {
  left: 0;
  text-align: center;
  width: 100%;
}
.cid-rXeIhQznSa .collapsed .dropdown .dropdown-toggle[data-toggle="dropdown-submenu"]::after {
  margin-top: 0;
  position: inherit;
  right: 0;
  top: 50%;
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: .3em;
  vertical-align: middle;
  content: "";
  border-top: .30em solid;
  border-right: .30em solid transparent;
  border-left: .30em solid transparent;
}
.cid-rXeIhQznSa .collapsed .menu-bottom {
  -webkit-flex-direction: column-reverse;
  flex-direction: column-reverse;
  -webkit-justify-content: center;
  justify-content: center;
}
.cid-rXeIhQznSa .navbar-dropdown {
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
}
.cid-rXeIhQznSa .navbar-collapse {
  -ms-flex-preferred-size: auto;
  -webkit-flex-basis: auto;
  flex-basis: auto;
}
.cid-rXeIhQznSa .nav-link:focus {
  outline: none;
}
.cid-rXeIhQznSa .navbar-toggler {
  position: relative;
}
.cid-rXeIhQznSa .dropdown-item.active,
.cid-rXeIhQznSa .dropdown-item:active {
  background: #ffffff;
  color: initial;
}
.cid-rXeIhQznSa .nav-link:hover,
.cid-rXeIhQznSa .dropdown-item:hover {
  color: #4284df;
}
.cid-rXeGW9dI22 {
  padding-top: 240px;
  padding-bottom: 120px;
  background-color: #ffffff;
  position: relative;
  overflow: hidden;
}
.cid-rXeGW9dI22 svg {
  position: absolute;
  bottom: 4rem;
  left: 50%;
  transform: translate(-50%) scale(2, 1.2);
  animation: wave 5s ease-in-out infinite;
}
@keyframes line {
  from {
    transform: translateY(4px);
  }
  50% {
    transform: translateY(-4px);
  }
  to {
    transform: translateY(4px);
  }
}
@keyframes wave {
  from {
    transform: rotate(-0.2deg) translate(-50%) scale(2, 1.2);
  }
  50% {
    transform: rotate(0.2deg) translate(-50%) scale(2.1, 1.3);
  }
  to {
    transform: rotate(-0.2deg) translate(-50%) scale(2, 1.2);
  }
}
.cid-rXeGW9dI22 .mbr-text,
.cid-rXeGW9dI22 .mbr-section-btn {
  color: #232323;
}
.cid-rXeGW9dI22 #e12_areaS3 {
  fill: #f36731 !important;
}
.cid-rXeGW9dI22 #e19_areaS3 {
  fill: #e8431e !important;
}
.cid-rXeGW9dI22 H1 {
  color: #232323;
}
.cid-rXeGW9dI22 img {
  width: 70%;
  border-radius: 10px;
  height: 100%;
  object-fit: cover;
  animation: line 4s ease-in-out infinite;
  box-shadow: 0 10px 55px 5px rgba(237, 106, 76, 0.35);
}
.cid-rXeGW9dI22 .box {
  width: 95%;
  height: 90%;
  opacity: 0.5;
  background-color: #ffffff;
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%);
  border-radius: 0.5rem;
}
@media (max-width: 1200px) {
  .cid-rXeGW9dI22 .box {
    top: 2%;
    width: 97%;
    height: 96%;
  }
}
@media (max-width: 576px) {
  .cid-rXeGW9dI22 img {
    left: 0px;
    width: 100%;
  }
}
.cid-rXfqnGyl4I {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #e8431e;
}
.cid-rXfqnGyl4I h2 {
  text-align: left;
}
.cid-rXfqnGyl4I h4 {
  text-align: left;
  font-weight: 500;
}
.cid-rXfqnGyl4I p {
  color: #767676;
  text-align: left;
}
.cid-rXfqnGyl4I .aside-content {
  flex-basis: 100%;
  -webkit-flex-basis: 100%;
}
.cid-rXfqnGyl4I .block-content {
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  word-break: break-word;
}
.cid-rXfqnGyl4I .media {
  margin: initial;
  align-items: center;
  -webkit-align-items: center;
}
.cid-rXfqnGyl4I .mbr-figure {
  align-self: flex-start;
  -webkit-align-self: flex-start;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
}
.cid-rXfqnGyl4I .card-img {
  padding-right: 2rem;
  width: auto;
}
.cid-rXfqnGyl4I .card-img span {
  font-size: 72px;
  color: #707070;
}
@media (min-width: 992px) {
  .cid-rXfqnGyl4I .mbr-figure {
    padding-right: 4rem;
  }
}
@media (max-width: 991px) {
  .cid-rXfqnGyl4I .mbr-figure {
    padding-right: 0;
    padding-bottom: 1rem;
    margin-bottom: 2rem;
  }
}
@media (max-width: 300px) {
  .cid-rXfqnGyl4I .card-img span {
    font-size: 40px !important;
  }
}
.cid-rXfqnGyl4I H2 {
  color: #ffffff;
}
.cid-rXfqnGyl4I .mbr-text {
  color: #ffffff;
}
.cid-rXfqMgOOMt {
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: #ffffff;
  position: relative;
  overflow: hidden;
}
.cid-rXfqMgOOMt svg {
  position: absolute;
  top: 0;
  left: 0;
  transform: scale(1.8, 1.8);
}
.cid-rXfqMgOOMt #e1_ellipse {
  fill: #e8431e !important;
}
.cid-rXfqMgOOMt img {
  width: 80%;
  border-radius: 10px;
  height: 100%;
  object-fit: cover;
  box-shadow: 0 10px 55px 5px rgba(237, 106, 76, 0.35);
}
@media (max-width: 576px) {
  .cid-rXfqMgOOMt img {
    width: 100%;
    left: 0;
  }
}
.cid-rXfqMgOOMt H1 {
  color: #ffffff;
}
.cid-rXfqMgOOMt .mbr-text,
.cid-rXfqMgOOMt .mbr-section-btn {
  color: #ffffff;
}
.cid-rXfrsvdBSR {
  background: #ffffff;
  padding-top: 0px;
  padding-bottom: 0px;
}
.cid-rXfrsvdBSR .image-block {
  margin: auto;
  height: 500px;
  overflow: hidden;
  position: relative;
}
.cid-rXfrsvdBSR .image-block:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 0;
  left: 0;
  top: 0;
  transition: all 0.3s;
  pointer-events: none;
  z-index: 2;
}
.cid-rXfrsvdBSR .image-block:hover:before {
  opacity: 0.4;
}
.cid-rXfrsvdBSR .image-block:hover .wrap {
  opacity: 1;
}
.cid-rXfrsvdBSR .image-block:hover img {
  transform: scale(1.05);
}
.cid-rXfrsvdBSR h4 {
  letter-spacing: 2px;
}
.cid-rXfrsvdBSR figcaption {
  position: relative;
}
.cid-rXfrsvdBSR figcaption .wrap {
  position: absolute;
  bottom: 2rem;
  width: 100%;
  opacity: 0;
  padding: 1rem;
  transition: all 0.3s;
  z-index: 3;
}
.cid-rXfrsvdBSR img {
  width: 100%;
  height: 100%;
  transition: all 3s;
  object-fit: cover;
}
@media (max-width: 991px) {
  .cid-rXfrsvdBSR .image-block {
    max-height: 400px;
  }
}
@media (max-width: 767px) {
  .cid-rXfrsvdBSR .wrap {
    opacity: 1!important;
  }
  .cid-rXfrsvdBSR .image-block:before {
    opacity: 0.2!important;
  }
}
.cid-rXfrHYsP7W {
  background: #ffffff;
  padding-top: 0px;
  padding-bottom: 0px;
}
.cid-rXfrHYsP7W .image-block {
  margin: auto;
  height: 500px;
  overflow: hidden;
  position: relative;
}
.cid-rXfrHYsP7W .image-block:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 0;
  left: 0;
  top: 0;
  transition: all 0.3s;
  pointer-events: none;
  z-index: 2;
}
.cid-rXfrHYsP7W .image-block:hover:before {
  opacity: 0.4;
}
.cid-rXfrHYsP7W .image-block:hover .wrap {
  opacity: 1;
}
.cid-rXfrHYsP7W .image-block:hover img {
  transform: scale(1.05);
}
.cid-rXfrHYsP7W h4 {
  letter-spacing: 2px;
}
.cid-rXfrHYsP7W figcaption {
  position: relative;
}
.cid-rXfrHYsP7W figcaption .wrap {
  position: absolute;
  bottom: 2rem;
  width: 100%;
  opacity: 0;
  padding: 1rem;
  transition: all 0.3s;
  z-index: 3;
}
.cid-rXfrHYsP7W img {
  width: 100%;
  height: 100%;
  transition: all 3s;
  object-fit: cover;
}
@media (max-width: 991px) {
  .cid-rXfrHYsP7W .image-block {
    max-height: 400px;
  }
}
@media (max-width: 767px) {
  .cid-rXfrHYsP7W .wrap {
    opacity: 1!important;
  }
  .cid-rXfrHYsP7W .image-block:before {
    opacity: 0.2!important;
  }
}
.cid-rXfrZIxbea {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-rXfrZIxbea *:focus {
  outline: none;
}
.cid-rXfrZIxbea .form-control {
  width: 100%;
  min-height: auto;
  color: #232323 !important;
  border: none;
  border-radius: 0 !important;
  background-color: transparent;
  padding: .5rem 0rem;
  border-bottom: 1px solid #232323;
  box-shadow: none;
}
.cid-rXfrZIxbea .form-control:focus {
  outline: none;
  box-shadow: none;
}
.cid-rXfrZIxbea input::-webkit-input-placeholder {
  color: #232323;
}
.cid-rXfrZIxbea input::-moz-placeholder {
  color: #232323;
}
.cid-rXfrZIxbea textarea::-webkit-input-placeholder {
  color: #232323;
}
.cid-rXfrZIxbea textarea::-moz-placeholder {
  color: #232323;
}
.cid-rXfrZIxbea .soc-item {
  margin: 0 .1rem .2rem .1rem;
  display: inline-flex;
  width: 46px;
  height: 46px;
  justify-content: center;
  align-items: center;
  border: 1px solid #0f4b9c;
  border-radius: 50%;
}
.cid-rXfrZIxbea .soc-item:hover {
  opacity: .5;
}
.cid-rXfrZIxbea .soc-item .socicon {
  font-size: 1.5rem;
  color: #0f4b9c;
}
.cid-rXfrZIxbea .days-column,
.cid-rXfrZIxbea .hours-column {
  display: inline-block;
}
.cid-rXfrZIxbea .days-column span,
.cid-rXfrZIxbea .hours-column span {
  display: block;
}
.cid-rXfrZIxbea .input-group-btn {
  display: block;
}
@media (max-width: 767px) {
  .cid-rXfrZIxbea .days-column {
    padding-right: 0 !important;
  }
  .cid-rXfrZIxbea .hours-column {
    max-width: 50% !important;
  }
  .cid-rXfrZIxbea .opening-hours {
    padding-bottom: 48px !important;
  }
}
.cid-rXfrZIxbea .follow-title,
.cid-rXfrZIxbea .social-list {
  text-align: center;
}
.cid-rXfsxL3NuV {
  padding-top: 45px;
  padding-bottom: 45px;
  background-color: #e8431e;
}
.cid-rXfsxL3NuV a:link {
  text-decoration: none;
}
.cid-rXfsxL3NuV .icon-transition span {
  color: #ffffff;
  display: block;
  height: 3em;
  line-height: 3em;
  border-radius: 50%;
  border: 2px solid #ffffff;
  width: 3em;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  font-size: 14px;
}
.cid-rXfsxL3NuV .icon-transition span:hover {
  background-color: #ffbc00;
}
.cid-rXfsxL3NuV .inner-text {
  line-height: 3em;
}
.cid-rXfsxL3NuV .social-media {
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
}
.cid-rXfsxL3NuV .social-media ul {
  margin: 0;
  padding: 0;
  margin-bottom: 8px;
}
.cid-rXfsxL3NuV .social-media ul li {
  padding: 4px;
  display: inline-block;
}
.cid-rXfsxL3NuV .content-text,
.cid-rXfsxL3NuV .inner-text {
  color: #ffffff;
}
